$base-color: white
$body-color: #227bd4

body
    min-width: fit-content

.main-container
    background-image: linear-gradient(to bottom right, $body-color, #5dadfc)
    height: 450px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .main-container-title
        color: white
        font-size: 55px
        font-weight: 200

    .input-group-lg
        min-width: 400px

    @media only screen and (max-width: 700px)
        .main-container-title
            font-size: 35px

        .input-group-lg
            min-width: 250px

.navbar
    background-color: $base-color !important
    border-bottom: 1px solid grey

    .nav-link
        color: black

    .menu-wide-item
        cursor: pointer
        text-decoration: none
        color: black
        margin-right: 20px

.main-footer
    background-color: #d6d6d6
    height: 100%
    box-shadow: 0 50vh 0 50vh #c7cfd6
    display: flex
    justify-content: center
    padding-bottom: 30px

    .main-footer-title
        margin-top: 20px
        font-size: 12px

    .main-footer-link
        margin-bottom: 4px
        font-size: 12px
        color: grey

.detail-container
    background-color: white
    height: 450px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 30px

    .detail-container-heading
        font-weight: 200

    .detail-card
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        height: 60%
        width: 80%
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
        margin-bottom: 30px

        .detail-card-left
            background-color: #ebebeb
            height: 100%
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            font-size: 12px
            padding: 25px

            .detail-card-left-text
                margin-bottom: 7px

        .detail-card-right
            height: 100%
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: 25px

    @media only screen and (max-width: 700px)
        .detail-card
            flex-direction: column-reverse

        .detail-container-heading
            margin-top: 20px

@media only screen and (max-width: 700px)
    .detail-container
        height: fit-content
